body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 140px;
}

#avatar,
#apps {
  height: 50px;
  width: 50px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  margin-bottom: 30px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
  border-radius: 30px;
  border: 0.1px solid;
}

#magnify {
  max-width: 50px;
  margin-right: 1px;
  z-index: -1;
}

#searchbox {
  width: 90%;
  font-size: 18px;
  border: none;
  margin-right: 2px;
}

.searchbox:focus {
  outline: none;
}

.buttons {
  margin: 20px;
}
button {
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  grid-area: c;
  margin: 5px;
}

button:hover {
  border: silver solid 1px;
  background: rgba(213, 222, 222, 0.5);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

a {
  margin: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
